.cntr {
    text-align: center;
}
.rght {
    text-align: right;
}
.lft {
    text-align: left;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb5 {
    margin-bottom: 5px;
}
.ma {
    margin: 0 auto;
}
.base {
    max-width: 720px;
}
.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pr10 {
    padding-right: 10px;
}
.txt {
    font: normal 11px/13px tahoma,arial,verdana,sans-serif;
}
.hr {
    height:0;color:#DDDDDD;background-color:#DDDDDD;border-top:none;border-bottom:#DDDDDD solid 1px;
}
.fit {
    width: 1px;
}
.hover {
    background-color: #EFEFEF;
}

tr.pt10 td {
    padding-top: 10px;
}
tr.pb10 td {
    padding-bottom: 10px;
}

tr.border_bottom td {
    border-bottom:1pt solid #DDDDDD;
}




.pt10 .x-grid-cell {
    padding-top: 10px;
}
.pb10 .x-grid-cell {
    padding-bottom: 10px;
}
.pl10 .x-grid-cell {
    padding-left: 10px;
}
.pr10 .x-grid-cell {
    padding-right: 10px;
}

